@import "../../variables.scss";

.playground {
  flex: 10 0 auto;
  padding: 5px;
  background-color: $figma-white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  &:hover {
    outline-color: $figma-blue;
  }

  .playground-header {
    display: flex;
    justify-content: space-between;
  }
  .playground-content {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;

    > section {
      flex: 0 0 calc(50% - 5px * 2);
      height: 100%;
      margin: 5px;
      display: flex;
    }

    .playground-controls {
      display: flex;
      flex-direction: column;

      .control-header {
        display: flex;
        align-items: center;
      }
      .control-property {
        padding: 5px 5px 10px 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }
    .playground-result {
      background-color: rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
