@import "../../variables.scss";

.playground {
  flex: 10 0 auto;
  padding: 5px;
  background-color: $figma-white;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  &:hover {
    outline-color: $figma-blue;
  }

  > section {
    flex: 1 1 300px;
    margin: 5px;
    display: flex;
  }

  .playground-controls {
    display: flex;
    flex-direction: column;

    .control-header {
      display: flex;
      align-items: center;
    }
    .control-property {
      padding: 5px 5px 10px 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
  .playground-result {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
