@import "../../variables.scss";

.examples-board {
  flex: 1 0 auto;
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  > * {
    margin: 5px;
  }
}
