@import "../../variables.scss";

.details-panel {
	width: 240px;
	height: 100%;
  background-color: $figma-white;
	border-left: 1px solid $figma-silver;
  display: flex;
  flex-direction: column;
  z-index: 2;
	
	@media (max-width: 640px) {
		display: none;
	}

  header {
		height: 40px;
		padding: 0 15px;
    display: flex;
		justify-content: space-between;
		align-items: center;
    user-select: none;
		border-bottom: 1px solid #e5e5e5;
  }

  .codeblock {
    padding: 7px 9px 15px 9px;
  }
}