@import "../../variables.scss";

.content {
  display: flex;
	height: calc(100% - #{$header-height});

	.main-content {
		background-color: $figma-grey;
		flex: auto;
		overflow-y: scroll;
		overflow-x: hidden;
		scroll-behavior: smooth;

		.viewport {
			width: 100%;
			height: calc(100vh - #{$header-height});
			display: flex;
			justify-content: center;
			align-items: center;

      @media (max-width: 480px) {
        height: auto;
        min-height: calc(100vh - #{$header-height});
        padding: 50px 0;
      }

			.frame {
				flex: 0 1 800px;
        display: flex;
        flex-direction: column;
			}
		}
	}
}