@import "../../variables.scss";

.content {
  display: flex;
	height: calc(100% - #{$header-height});

	.main-content {
		background-color: $figma-grey;
		flex: auto;
		overflow-y: scroll;
		overflow-x: hidden;

		.viewport {
			width: 100%;
			height: calc(100vh - #{$header-height});
			display: flex;
			justify-content: center;
			align-items: center;
			.frame {
				width: 800px;
				height: 600px;
				background-color: $figma-white;
				outline-width: 2px;
				outline-style: solid;
				outline-color: transparent;

				&:hover {
					outline-color: $figma-blue;
				}
			}
		}
	}
}